/* Reestructuracion */
*{
    margin: 0;
    padding: 0;
    outline: 1.7px dotted greenyellow; 
}
* body{
    box-sizing: border-box;
    background-color: #1B365D;
    /* 
    PANTONE 534 C
    VALORES DE COLOR:
    RGB 27 54 93
    HEX/HTML 1B365D
    CMYK 100 71 0 51 * Opcion 1
    
    PANTONE 4154 C
    VALORES DE COLOR:
    RGB 14 65 116
    HEX/HTML 0E4174
    CMYK 100 67 0 33 opcion 2

    PANTONE 2955 C
    COLOR VALUES:
    RGB 0 56 101
    HEX/HTML 003865
    CMYK 100 52 0 58 opci0n 3
    */
}

/* *{
    margin: 0;
    padding: 0;
    outline: 1.7px dotted greenyellow; 
}
body{
    background-color:#25282A;
}
.row{
    margin: 0;
    padding: 0;
}
.parallax__fondo{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 100vw;
}
.parallax__fondo--imagen1{
    z-index: 1;
    position: absolute;
    border: solid 3px white;
}
.parallax__fondo--imagen2{
    z-index: 2;
    border: solid 3px blue;
    position: absolute;
    margin-top: 50px;
}
.parallax__fondo--imagen3{
    z-index: 3;
    position: relative;
    border: solid 3px red;
    margin-top: 50px;
}
.navbar{
    background-color: rgb(243, 132, 28);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.navbar__elementosr{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: stretch;
}
.logo{
    width: 30vw;
}
h1{
    color:#F8D948;
    text-align: center;
} */

